[Interface]
PrivateKey = {{ wireguard.interface.private_key }}
Address = {{ wireguard.interface.ipv4 }}, {{ wireguard.interface.ipv6 }}
ListenPort = {{ wireguard.interface.port }}

PostUp = iptables -I FORWARD -i %i -j ACCEPT
PostUp = iptables -I FORWARD -o %i -j ACCEPT
PostUp = ip6tables -I FORWARD -i %i -j ACCEPT
PostUp = ip6tables -I FORWARD -o %i -j ACCEPT
PostUp = iptables -t nat -I POSTROUTING -s {{ wireguard.network.ipv4 }} -o {{ network.uplink }} -j MASQUERADE
PostUp = ip6tables -t nat -I POSTROUTING -s {{ wireguard.network.ipv6 }} -o {{ network.uplink }} -j MASQUERADE

PostDown = iptables -D FORWARD -i %i -j ACCEPT
PostDown = iptables -D FORWARD -o %i -j ACCEPT
PostDown = ip6tables -D FORWARD -i %i -j ACCEPT
PostDown = ip6tables -D FORWARD -o %i -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -s {{ wireguard.network.ipv4 }} -o {{ network.uplink }} -j MASQUERADE
PostDown = ip6tables -t nat -D POSTROUTING -s {{ wireguard.network.ipv6 }} -o {{ network.uplink }} -j MASQUERADE

{% for peer in wireguard.peers %}
[Peer]
PublicKey = {{ peer.public_key }}
{% if peer.preshared_key is defined %}
PresharedKey = {{ peer.preshared_key }}
{% endif %}
AllowedIPs = {{ peer.ipv4 }}, {{ peer.ipv6 }}

{% endfor %}
